AZ       Anza Real-Time Broadband Network                                                 -    -                     -1  1461715418.91485
SB       Santa Barbara, U. of Cal.                                                        ww   SEED                  -1  1389913464.10729
PB       Plate Boundary Observatory Borehole Seismic Network                              ww   SEED                  -1  1443818051.14225
CI       Southern California Seismic Network                                              ww   SEED                  -1  1443818963.83622
ZY       Portable Southern California                                                     -    -                     -1  1456168989.89140
PY       PFO Array                                                                        -    -                     -1  1456164179.38084
TA       USArray Transportable Array                                                      -    -                     -1  1416437544.69660
YN       San Jacinto Fault Zone (SJFZ)                                                    -    -                     -1  1466533358.24156
